@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap");
.switchwrap {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.switch-board {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.switch-cloud-box {
  position: relative;
}

.switch-cloud {
  width: 200px;
  height: 200px;
  background-image: url("./src/components/images/c3.png");
  background-position: center;
  background-size: cover;
  animation: cloudbob 2s ease-in-out 0s infinite alternate none;
}

.switch-cloud-box:hover {
  border: 5px solid black;
  background-color: #ffff8a;
}

.switch-cloud-box:nth-child(1):hover:after {
  position: absolute;
  top: 0;
  left: 105%;
  width: 100px;
  content: "Freelance website building and management, and video editing";
}

.switch-cloud-box:nth-child(2):hover:after {
  position: absolute;
  top: 0;
  left: 105%;
  width: 100px;
  content: "Curious about my technical skills and want to peek behind the curtain, grab a resume, the good stuff, etc. ";
}

.switch-cloud:nth-child(1) {
  animation-delay: 1500ms;
}

@keyframes cloudbob {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(20px);
  }
}
.switch-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 3px solid black; */
}

.freelance-showcase {
  width: 100vw;
  height: 100vh;
  background-color: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-text: "";
  --main-text: "";
  --sub-text: "";
  --accent-color: #fff700;
  --background-color: rgb(5, 255, 255);
  --moody-background-color: rgb(100, 173, 173);
  --textcolor: black;
  --button-text-color: var(var(--background-color));
  --d-accent-color: #ffff8a;
  --d-background-color: #333;
  --d-textcolor: white;
  --trans: 1.5s;
  --landscape: rgba(0, 128, 0, 0.3);
  --skillsetfont: rgba(51, 51, 51, 0.243);
  --paper: #f5f5e6;
  --business-font: "Oswald", sans-serif;
  --letter-font: "Sue Ellen Francisco", cursive;
  --copy-svg: url("data:image/svg+xml, %3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='15px' height='15px' viewBox='0 0 115.77 122.88' style='enable-background:new 0 0 115.77 122.88' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z'/%3E%3C/g%3E%3C/svg%3E");
  --checked-svg: url("<?xml version='1.0' encoding='utf-8'?><svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='122.881px' height='89.842px' viewBox='0 0 122.881 89.842' enable-background='new 0 0 122.881 89.842' xml:space='preserve'><g><path d='M1.232,55.541c-1.533-1.388-1.652-3.756-0.265-5.289c1.388-1.534,3.756-1.652,5.29-0.265l34.053,30.878l76.099-79.699 c1.429-1.501,3.804-1.561,5.305-0.132c1.502,1.428,1.561,3.803,0.133,5.305L43.223,88.683l-0.005-0.005 c-1.396,1.468-3.716,1.563-5.227,0.196L1.232,55.541L1.232,55.541z'/></g></svg>");
}

.freelance-presenter {
  position: absolute;
  z-index: 5;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  border: 5px solid black;
  transition: all 1s ease-in-out;
}

.hanging-from-heaven {
  position: absolute;
  z-index: 10;
  top: 50;
  left: 200;
  display: flex;
  gap: 10px;
  background-color: rgba(255, 0, 0, 0.333);
}

.hanging-cloud-box {
  width: 150px;
  height: 100px;
  border: 3px solid black;
}

.hanging-cloud {
  width: 100%;
  height: 100%;
  background-image: url("./src/components/images/c3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 4s ease-in-out infinite alternate bob;
}

.hanging-cloud > p {
  font-family: var(--letter-font);
  pointer-events: none;
  transform: translateY(-10px);
}

@keyframes bob {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes bobnwig {
  0% {
    transform: translateY(10px);
    rotate: 10deg;
  }
  10% {
    rotate: 10deg;
  }
  90% {
    rotate: -10deg;
  }
  100% {
    transform: translateY(-10px);
    rotate: -10deg;
  }
}
@keyframes dangle {
  0% {
    transform: rotateY(50deg);
  }
  100% {
    transform: rotateY(-50deg);
  }
}
.sheet {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
}
.intro-grid-box > div {
  position: relative;
  border: 5px solid black;
  display: flex;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
  transition: transform 0.5s ease-in;
}

.intro-grid-one {
  border-right: none;
  justify-content: flex-end;
}

.intro-grid-two {
  border: 5px solid black;
  border-left: none;
}
.intro-grid-two > div {
  position: absolute;
  top: calc(49% - 2rem);
  overflow-y: hidden;
}

.clear {
  color: transparent;
}

.line-of-questioning {
  transition: transform 0.5s ease-in-out;
}

.out-of-question {
  transform: translateY(100px);
}

.upn-out-of-question {
  transform: translateY(-100px);
}

.get-up {
  transform: translateY(-100vh);
}

.get-down {
  transform: translateY(100vh);
}

.pitcher-box {
  width: 600px;
  transform-origin: center center;
  transition: all 0.5s ease-out;
  display: flex;
}

.tiny-boy {
  background-color: chocolate;
  transform: scale(0);
}

.words-header {
  font-family: var(--business-font);
}

.handy {
  font-family: var(--letter-font);
}

.balloons {
  position: relative;
  width: 100px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.balloons > .balloon {
  position: relative;
  width: 100px;
  height: 100px;
  background-position: center top;
  transform-origin: center center;
  transition: transform 2s linear;
}
.balloons > .balloon#bab1 {
  transition: transform 1s ease-out 0s;
}
.balloons > .balloon#bab1:hover::after {
  position: absolute;
  right: -50px;
  top: 40%;
  content: "Services";
}
.balloons > .balloon#bab2 {
  transition: transform 1s ease-out 0.25s;
}
.balloons > .balloon#bab2:hover::after {
  position: absolute;
  right: -50px;
  top: 40%;
  content: "Examples";
}
.balloons > .balloon#bab3 {
  transition: transform 1s ease-out 0.5s;
}
.balloons > .balloon#bab3:hover::after {
  position: absolute;
  right: -50px;
  top: 40%;
  content: "Reference";
}

.balloon-ball {
  position: absolute;
  z-index: 10;
  background-image: url("./src/components/images/ball1.png");
  width: 100px;
  height: 100px;
}
.balloon-ball:hover {
  scale: 1.2;
}
.balloon-ball.in-wind {
  animation: 4s ease-in-out infinite alternate bobnwig;
}

.balloon-string {
  position: absolute;
  z-index: 9;
  height: 200px;
  width: 100px;
  background-image: url("./src/components/images/balloonstring.png");
}

.sad-child {
  transform: translateY(100vh);
}

.freelance-container {
  width: 30vw;
}

@keyframes identifier {}
.unpresented {
  transform: translateX(100vw);
}

body {
  position: relative;
  overflow: hidden;
}

* {
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--textcolor);
  overflow: scroll;
}

.wrapper > div {
  overflow-y: hidden;
}

.wrapper.dark {
  color: var(--d-textcolor);
  background-color: var(--d-background-color);
  --accent-color: #ffff8a;
  --background-color: #333;
  --textcolor: white;
  --landscape: rgba(210, 232, 229, 0.5);
  --skillsetfont: rgba(255, 255, 255, 0.248);
  --paper: #333;
}

.wrapper-top {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remainderCloud {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 50;
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
  background-image: url("src/components/images/c3.png");
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  transition: display 0s linear 2s;
}
.remainderCloud:hover:after {
  content: "bored?";
}

.clouds {
  width: 100vw;
  transform: translateY(-20vh);
}

.unseen {
  display: none;
}

.clouds > img {
  width: 100px;
}

.cloudsForward {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.clouds-movement-foreground > img {
  width: 200px;
  animation: cloudsInBack;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cloudsBackwards {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.cloudsBackwards > img {
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.clouds-movement-background > img {
  opacity: 50%;
  animation: cloudsInBack;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cloudsInBack {
  from {
    transform: translatey(120vh);
  }
  to {
    transform: translatey(0);
  }
}
#c1 {
  position: absolute;
  left: 10vw;
  animation-delay: 0.3s;
}

#c2 {
  position: absolute;
  left: 40vw;
  animation-delay: 3.5s;
}

#c3 {
  position: absolute;
  right: 10vw;
  animation-delay: 2.5s;
}

#c4 {
  position: absolute;
  left: 10vw;
  animation-delay: 1.5s;
}

#c5 {
  position: absolute;
  left: 20vw;
  animation-delay: 3s;
  animation-duration: 7s;
}

#c6 {
  position: absolute;
  left: 30vw;
  animation-delay: 0s;
}

#c7 {
  position: absolute;
  left: 40vw;
  animation-delay: 4.9s;
  animation-duration: 5.3s;
}

#c8 {
  position: absolute;
  left: 50vw;
  animation-delay: 0.8s;
}

#c9 {
  position: absolute;
  left: 60vw;
  animation-delay: 3.3s;
}

#c10 {
  position: absolute;
  left: 70vw;
  animation-delay: 1.8s;
  animation-duration: 6.4s;
}

#c11 {
  position: absolute;
  left: 80vw;
  animation-delay: 3s;
  animation-duration: 5.8s;
}

.sky {
  position: fixed;
  z-index: 15;
  top: 25px;
  right: 50px;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.astrology {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 200%;
}

.sun,
.moon {
  position: absolute;
  transform-origin: bottom;
  transform: rotate(360deg);
  transition: transform 1s ease-out;
}

#sun > path {
  fill: var(--accent-color);
}

#moon > path {
  fill: var(--d-accent-color);
}

.sunset {
  transform: rotate(180deg);
}

.display {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "left right";
  width: 100%;
}

.fallingGrid {
  position: relative;
  z-index: 2;
  grid-area: right;
}

.fallingShell {
  position: absolute;
  top: -50vh;
  right: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

#image {
  width: 300px;
  height: 300px;
}

#brianSecondPage {
  position: absolute;
  right: 5vw;
  width: 300px;
  height: 300px;
}

.falling {
  top: 30%;
  transition: top 2s;
  transition-timing-function: cubic-bezier(0.44, 1.86, 0.5, 1.29);
  animation-name: winddrag;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1.6s;
}

@keyframes winddrag {
  0% {
    transform: translatey(0%);
  }
  10% {
    transform: translatey(-20%);
  }
  40% {
    transform: translatey(10%);
  }
  60% {
    transform: translatey(-25%);
  }
  80% {
    transform: translatey(5%);
  }
  100% {
    transform: translatey(0%);
  }
}
.leftgrid {
  width: 50vw;
  height: 100vh;
  grid-area: left;
  display: flex;
  justify-content: flex-end;
}

.hiMyNameIsBox {
  position: absolute;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hiMyNameIsBox > h1 {
  font-family: var(--business-font);
  font-size: 8rem;
  line-height: 120px;
}

#hi {
  transition: transform 0.25s ease-out, color 0.001s linear 0s;
  margin-right: 25vw;
}

.translatedHi {
  transform: translateX(0px) translateY(-300px);
}

#iam {
  transition: transform 0.25s ease-out 0.375s, color 0.001s linear 0s;
}

.translatedIam {
  transform: translateX(-100vw) translateY(0px);
}

.first-letters {
  opacity: 0;
  font-family: var(--business-font);
  font-size: 8rem;
  line-height: 120px;
}

.first-name-falling-in {
  opacity: 0;
  position: relative;
  transform: translateY(-100vh);
  animation: fall 0.5s forwards;
  display: inline-block;
}

.brianBox > h1:nth-child(1) {
  animation-delay: 0.75s;
}

.brianBox > h1:nth-child(2) {
  animation-delay: 1s;
}

.brianBox > h1:nth-child(3) {
  animation-delay: 1.25s;
}

.brianBox > h1:nth-child(4) {
  animation-delay: 1.5s;
}

.brianBox > h1:nth-child(5) {
  animation-delay: 1.75s;
}

@keyframes fall {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#brian {
  transition-delay: 1s;
}

.stroutBox {
  overflow: hidden;
}

.stroutBox > h1 {
  font-family: var(--business-font);
  font-size: 8rem;
  line-height: 120px;
  text-decoration: underline;
  margin-bottom: 20px;
}

#strout {
  text-decoration: underline;
  transition: transform 1.2s ease-out 1.8s, color 0.001s linear 0s;
}

.translatedStrout {
  transform: translateX(0px) translateY(200px);
}

#title {
  margin-top: 10px;
  position: relative;
  z-index: 2;
  transition: transform 0.75s cubic-bezier(0.44, 1.86, 0.5, 1.29) 2.75s, color 0.001s linear 0s;
}

.translatedTitle {
  transform: scale(0);
}

@keyframes scaleup {
  100% {
    transform: scale(100%);
  }
}
#launch {
  position: absolute;
  bottom: 0;
  left: 0;
}

#clear {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.up-and-out {
  transform: translateY(-200vh);
  transition: transform 1s linear 0s;
}

.down-and-out {
  opacity: 0%;
  top: 140%;
  transition: top 0.4s linear 0s, opacity 0s linear 0.5s;
}

#hiBox {
  transition-delay: 0s;
}

#hiBox > h1 {
  font-family: var(--business-font);
  font-size: 8rem;
  line-height: 120px;
}

#iamBox {
  transition-delay: 0.25s;
}

#iamBox > h1 {
  font-family: var(--business-font);
  font-size: 8rem;
  line-height: 120px;
}

#brianBox {
  transition-delay: 0.5s;
}

#brianBox > h1 {
  font-family: var(--business-font);
  font-size: 8rem;
  line-height: 120px;
}

#stroutBox {
  transition-delay: 0.75s;
}

#stroutBox > h1 {
  font-family: var(--business-font);
  font-size: 8rem;
  line-height: 120px;
}

#titleBox {
  transition-delay: 1s;
}

#titleBox > h1 {
  font-family: var(--business-font);
  font-size: 8rem;
  line-height: 120px;
}

* {
  transition: color 0.001s linear 0s;
}

/*
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII    Wrapper 2 IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
/*
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII    Wrapper 2 IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
.wrap2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}

.target {
  background-color: deeppink;
}

.skill-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "skillLeft skillRight";
}

.skill-left {
  width: 100%;
  height: 100%;
  grid-area: skillLeft;
  padding: 2rem 0rem 2rem 6rem;
}

.skill-right {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: skillRight;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-set-div {
  vertical-align: middle;
}

#skill-set-h {
  color: var(--skillsetfont);
  margin-left: auto;
  margin-right: 25vw;
  writing-mode: vertical-lr;
  transform: rotateZ(180deg);
  text-orientation: sideways-right;
  right: 0;
  letter-spacing: 15px;
  font-family: var(--business-font);
  font-size: 10rem;
}

.list-header > h4 {
  text-decoration: underline;
  font-family: var(--business-font);
  font-size: 1.75rem;
}

#listed_skills_front > h4 {
  transition: transform 0.75s cubic-bezier(0.44, 1.86, 0.5, 1.29) 0.25s;
}

#listed_skills_back > h4 {
  transition: transform 0.75s cubic-bezier(0.44, 1.86, 0.5, 1.29) 0.5s;
}

#listed_skills_media > h4 {
  transition: transform 0.75s cubic-bezier(0.44, 1.86, 0.5, 1.29) 0.75s;
}

#listed_skills_other > h4 {
  transition: transform 0.75s cubic-bezier(0.44, 1.86, 0.5, 1.29) 1s;
}

.shrunk {
  transform: scale(0%);
  transition: transform 0.75s cubic-bezier(0.44, 1.86, 0.5, 1.29) 1s;
}

.list-header > li {
  font-family: var(--business-font);
  font-size: 0.5rem;
  margin: 0.2rem 6rem;
  list-style: none;
}

#li1 {
  transition: transform 0.75s ease-in 0.0625s;
}

#li2 {
  transition: transform 0.75s ease-in 0.125s;
}

#li3 {
  transition: transform 0.75s ease-in 0.1875s;
}

#li4 {
  transition: transform 0.75s ease-in 0.25s;
}

#li5 {
  transition: transform 0.75s ease-in 0.3125s;
}

#li6 {
  transition: transform 0.75s ease-in 0.375s;
}

#li7 {
  transition: transform 0.75s ease-in 0.4375s;
}

#li8 {
  transition: transform 0.75s ease-in 0.5s;
}

#li9 {
  transition: transform 0.75s ease-in 0.5625s;
}

#li10 {
  transition: transform 0.75s ease-in 0.625s;
}

#li11 {
  transition: transform 0.75s ease-in 0.6875s;
}

#li12 {
  transition: transform 0.75s ease-in 0.75s;
}

#li13 {
  transition: transform 0.75s ease-in 0.8125s;
}

#li14 {
  transition: transform 0.75s ease-in 0.875s;
}

#li15 {
  transition: transform 0.75s ease-in 0.9375s;
}

.list-fixer {
  transform: translateX(-50vw);
}

.skill-div {
  display: flex;
  height: 2rem;
  width: 23rem;
  background-color: var(--skillsetfont);
}

.skill-div-left {
  background-color: var(--moody-background-color);
  border-right: 1px solid white;
  color: var(--textcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.skill-div-left > svg {
  margin-left: 10px;
  margin-right: 5px;
  fill: var(--accent-color);
}

.li-skills {
  display: block;
  font-size: 1rem;
}

.skill-div-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.li-skills-out {
  display: block;
  font-family: var(--letter-font);
  font-size: 1.1rem;
}

.brian-working {
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.brianSecondPageBox {
  position: relative;
  top: -120vh;
  right: 15%;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: top 1s ease-in 0s, opacity 0s linear 0s;
}

.brianUp {
  position: relative;
  top: 0;
  opacity: 1;
}

.brianSecondChair {
  position: absolute;
  height: 300px;
  width: 300px;
  transform: translateX(30vw);
}

.slide-chair-in {
  transform: translate(-5vw, -20vh);
}

.brianSecondPage {
  position: absolute;
  transform: translateX(50px);
}

.brian-blurb {
  font-family: var(--letter-font);
  font-size: clamp(16px, 3vw, 32px);
  padding-top: 0.5rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
  line-height: 2rem;
}

.brian-blurb > p {
  transition: all 0.5s ease-in;
}

.tucked-up {
  transform: translateY(-120%);
}

.absolute-cloud {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  left: calc(50vw - 70px);
  opacity: 100%;
  transition: transform 0.3s linear 2s, opacity 0.3s linear 2s;
}

.absolute-cloud > h2 {
  font-family: var(--letter-font);
}

.pulled-down {
  transform: translateY(-50vh);
  opacity: 0%;
}

/* .pulled-right {
} */
/*
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII    Wrapper 3 IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII */
.wrapper3 {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.project-grid {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "project-grid-left project-grid-right";
  gap: 1rem;
}

.project-grid > div {
  padding: 1rem;
}

.project-grid-left {
  grid-area: project-grid-left;
}

.project-grid-right {
  grid-area: project-grid-right;
  margin-top: 40vh;
}

.project-display {
  width: 100%;
  height: 80vh;
  margin-bottom: 2rem;
  border: 5px solid var(--skillsetfont);
  border-radius: 10px;
}

.project-display-header {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 200px;
  background: linear-gradient(var(--skillsetfont), transparent);
}

.project-thumbnail-container {
  margin-bottom: 10px;
  /* background-repeat: no-repeat; */
}

.ptcTop {
  position: absolute;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  top: -5px;
  left: -5px;
  width: 50%;
  border: 1px solid white;
  border-right: 0px;
  border-bottom: 0px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.412);
}

.project-thumbnail {
  width: 100%;
}

.project-title {
  padding-left: 1rem;
}

.project-title > h2 {
  font-family: var(--business-font);
  font-size: 3rem;
  text-decoration: underline;
}

.made-with-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.made-with-div > h4 {
  font-family: var(--business-font);
}

.icons-for-grid {
  display: flex;
}

.made-with-icon {
  min-height: 10px;
  min-width: 10px;
  margin-left: 10px;
}

.porfolio-link-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 5px;
}

.porfolio-link-container > button {
  font-size: 2rem;
  font-family: var(--letter-font);
  background-color: #f5f5e6;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.porfolio-link-container > button:hover {
  scale: 110%;
}

.porfolio-link-container > button > svg {
  pointer-events: none;
}

.project-display > p {
  background-color: var();
  margin-top: 20px;
  padding-left: 1rem;
  font-size: 2rem;
  font-family: var(--letter-font);
}

.port-blurb {
  width: 100%;
  height: calc(80vh - 210px);
  overflow-y: scroll;
  border-radius: 0 0 5px 5px;
  background-color: var(--paper);
}

.port-blurb > p {
  background-color: var();
  margin-top: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2rem;
  font-family: var(--letter-font);
}

#port-port {
  background-image: url("src/components/images/PortfolioSiteScreenShot.png");
}

#port-masha {
  background-image: url("src/components/images/MashaSiteScreenShot.png");
}

#port-rotary {
  background-image: url("src/components/images/RotarySiteScreenShot.jpeg");
}

#port-fugativa {
  background-image: url("src/components/images/FugativaSiteScreenShot.png");
}

#port-gitm {
  background-image: url("src/components/images/GitmSiteScreenShot.jpeg");
}

.wrapper4 {
  height: 100vh;
  padding: 10vh;
  display: flex;
  flex-direction: column;
}

.wrapper4 > h1 {
  font-family: var(--business-font);
  font-size: 3rem;
  text-decoration: underline;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.wrapper4 > p {
  font-size: 1.6rem;
  font-family: var(--letter-font);
}

.business-card {
  width: 60vw;
  min-height: 400px;
  border: 5px solid rgba(51, 51, 51, 0.243);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* padding: 5px;

  background-origin: padding-box; */
  /* padding: 10px; */
}

.business-card > div {
  background-color: var(--paper);
}

.head-shot-container {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}

.head-shot-div {
  background-origin: padding-box;
  width: 100%;
  height: 100%;
  background: url("src/components/images/headshot.jpeg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-details {
  padding: 1rem;
}

.contact-details > h2 {
  font-family: var(--business-font);
  font-size: 2rem;
}

.contact-details > text {
  font-family: var(--letter-font);
}

.contact-details > ul {
  padding-left: 2rem;
  list-style: none;
}

.contact-details > ul > li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.contact-details > ul > li > div > svg > path {
  fill: var(--moody-background-color);
}

.contact-details > ul > li :hover {
  transform-origin: left;
  scale: 110%;
}

#copy-gmail:hover::after {
  content: var(--copy-svg);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

#copy-gmail:active::after {
  content: url(src/components/images/check-mark-line-icon.svg);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.resume-box {
  width: 25vh;
  width: 100%;
  height: 100%;
  background-color: var(--skillsetfont);
  background-color: var(--paper);
  border-radius: 0 5px 5px 0;
}

.resume-box > h4 {
  font-family: var(--business-font);
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.resume-link {
  margin-top: 1rem;
  width: 25vh;
  height: 35vh;
  border: 1px solid black;
  background-image: url("src/components/images/resume-thumb.jpg");
  background-position: center;
  background-size: contain;
}

/* 
************************************************************************************
*******MM*******MM*************BB*********II***LL***********************************
*******MM*MM*MM*MM*************BB**************LL**********EEEE**********************
*******MM**MMM**MM****OOOOO****BB*BBB*****II***LL********EE****EE************************
*******MM***M***MM***0*****0***BB****BB***II***LL*******EEEEEEEEE*********************
*******MM*******MM***0*****0***BB****BB***II***LL********EE***********************
*******MM*******MM*****0000****BBBBBB*****II***LLLLLL******EEEEE*******************************
 */
@media only screen and (max-width: 950px) {
  .wrapper {
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 6vh;
  }
  h1 {
    font-size: 10vh;
  }
  .sky {
    right: -40px;
    width: 150px;
  }
  .display {
    grid-template-columns: 1fr;
  }
  .leftgrid {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .fallingGrid {
    position: relative;
    width: 100%;
    z-index: 1;
    padding-right: 1rem;
  }
  .first-letters > h1 {
    font-size: 10vh;
  }
  #brianBox {
    /* padding-right: 1rem; */
    margin-top: 2rem;
  }
  #brianBox > h1 {
    line-height: 80px;
    font-size: 30vw;
  }
  #stroutBox > h1 {
    /* margin-right: 1rem; */
    font-size: 28vw;
    /* margin: 1px; */
    text-decoration: underline;
  }
  #strout {
    transition: transform 1.2s ease-out 2s, color 0.001s linear 0s;
  }
  .wrap2 {
    height: 200vh;
  }
  .list-fixer {
    transform: translateX(-150vw);
  }
  .skill-wrapper {
    height: 200vh;
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "skillLeft" "skillRight";
  }
  .skill-left {
    /* border-top: 1px solid black; */
    padding: 0;
  }
  .skill-left > ul {
    margin-left: 11px;
  }
  .skill-left > ul > li {
    margin-left: 22px;
  }
  .skill-div {
    height: 1.6rem;
    width: 80vw;
  }
  .li-skills {
    font-size: 0.8rem;
  }
  .li-skills-out {
    font-size: 0.8rem;
  }
  .skill-set-div {
    transform: translateY(-55vh);
  }
  #skill-set-h {
    margin-right: 0vw;
    letter-spacing: 15px;
    opacity: 30%;
    font-size: 10vh;
  }
  .brian-working {
    width: 100vw;
  }
  .brian-blurb {
    padding-left: 1rem;
    margin-bottom: 30px;
  }
  .wrapper3 {
    padding: 0;
  }
  .project-grid {
    /* background-color: crimson; */
    margin: 2vw;
    width: calc(100% - 4vw);
    min-height: 100vh;
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: "project-grid-left" "project-grid-right";
    gap: 1rem;
  }
  .project-grid > div {
    padding: 1rem;
  }
  .project-grid-left {
    height: -moz-fit-content;
    height: fit-content;
  }
  .project-grid-right {
    grid-area: project-grid-right;
    margin-top: auto;
    /* margin-top: 30vh; */
  }
  .project-display {
    width: 100%;
    height: 80vh;
    margin-bottom: 2rem;
    border: 5px solid var(--skillsetfont);
    border-radius: 10px;
  }
  .project-display-header {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    /* height: 200px; */
    background: linear-gradient(var(--skillsetfont), transparent);
  }
  /* 
  .project-thumbnail-container {
    margin-bottom: 10px;
  } */
  .ptcTop {
    position: absolute;
    height: calc(25vw - 2px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 5;
    top: -5px;
    left: -5px;
    width: 50%;
    border: 1px solid white;
    border-right: var(--padding-calc);
    border-bottom: 0px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.412);
  }
  .ptcBottom {
    opacity: 0%;
  }
  .project-thumbnail {
    width: 100%;
  }
  .project-title {
    padding-left: 1rem;
  }
  .project-title > h2 {
    font-family: var(--business-font);
    font-size: 1.5rem;
    text-decoration: underline;
  }
  .made-with-div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "head-to-left" "icons-to-right";
  }
  .made-with-div > h4 {
    display: block;
    grid-area: head-to-left;
  }
  .icons-for-grid {
    grid-area: icons-to-right;
    display: flex;
  }
  .made-with-icon {
    min-height: 10px;
    min-width: 10px;
    margin-left: 10px;
  }
  .porfolio-link-container {
    margin-top: 5%;
    width: 100%;
    gap: 5px;
  }
  .porfolio-link-container > button {
    font-size: 0.8rem;
  }
  .project-display > p {
    margin-top: 20px;
    padding-left: 1rem;
    font-size: 2rem;
  }
  .port-blurb {
    width: 100%;
    height: calc(80vh - 210px);
    overflow-y: scroll;
  }
  .port-blurb > p {
    margin-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.4rem;
  }
  .wrapper4 {
    padding: 0;
    /* margin-bottom: 15vh; */
  }
  .business-card {
    width: 100vw;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 0px;
    border-top: 5px solid var(--skillsetfont);
    border-radius: 0;
    padding: 0px;
    margin: 0px;
  }
  .business-card > div {
    background-color: var(--paper);
  }
  .head-shot-container {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    /* border-radius: 5px 0 0 5px; */
  }
  .head-shot-div {
    background-origin: padding-box;
    width: 100%;
    height: 100%;
    background: url("src/components/images/headshot.jpeg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .contact-details {
    padding: 1rem;
  }
  .contact-details > h2 {
    font-family: var(--business-font);
    font-size: 2rem;
  }
  .contact-details > ul {
    padding-left: 2rem;
    list-style: none;
  }
  .contact-details > ul > li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .contact-details > ul > li > div > svg > path {
    fill: var(--moody-background-color);
  }
  .contact-details > ul > li :hover {
    transform-origin: left;
    scale: 110%;
  }
  #copy-gmail:hover::after {
    content: var(--copy-svg);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1rem;
  }
  #copy-gmail:active::after {
    content: url(src/components/images/check-mark-line-icon.svg);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 1rem;
  }
  .wrapper4 > h1 {
    margin-left: 23.5px;
  }
  .wrapper4 > p {
    margin: 0 23.5px;
  }
  .resume-box {
    padding: 0 10px;
    width: 25vh;
    width: 100%;
    height: 100%;
    background-color: var(--skillsetfont);
    background-color: var(--paper);
    border-radius: 0 5px 5px 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
  }
  .resume-box > h4 {
    font-family: var(--business-font);
    margin-left: 2vw;
    margin-right: 1.5rem;
  }
  .resume-link {
    margin-top: 1rem;
    width: 50%;
    height: 30vh;
    border: 1px solid var(--skillsetfont);
    background-image: url("src/components/images/resume-thumb.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}/*# sourceMappingURL=index.css.map */