@use "root";
@use "video";

.homeWrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;

  .fallingSecond {
    position: absolute;
    top: -50vh;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    transition: all 1.2s linear;
    background-size: cover;
    transform: rotate(45deg);
    background-image: url("/src/components/images/panic1.png");
    // opacity: 0.1;
    &.toEarth {
      top: 120vh;

      // color: pink;
    }
  }
}

.homeMonitor {
  position: relative;
  // display: grid;
  // grid-template-rows: 7rem auto;
  // overflow: hidden;
  height: 100%;
}

.hm--title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  transition: opacity 0.75s ease-out;
  // background-color: pink;
  .long--title {
    display: inline;
    width: 70vw;
  }
}
.hm--display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100%;
  // margin: 1rem;
  padding: 0px;
  overflow-y: scroll;
  transition: opacity 0.75s ease-out 0.5s;

  h3 {
    display: inline;
    max-width: 70vw;
  }

  ol {
    margin-top: 10px;
    margin-left: 52px;
    list-style: none;
    h2 {
      font-family: var(--header-font);
    }
    li {
      list-style: none;
      margin-left: 4rem;
      font-family: var(--letter-font);
      font-size: 1.5rem;
      line-height: 1.95rem;
      .skill-div {
        width: 16rem;
      }
    }
  }
}

.op0 {
  opacity: 0;
}

.cta {
  position: absolute;
  bottom: 10%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  background-color: aliceblue;
  border: 4px solid black;
  border-radius: 5px;
  font-family: var(--letter-font);
  font-size: 1.7rem;
  &:hover {
    scale: 1.1;
  }
}

#m--balloon {
  position: absolute;
  top: -50vh;
  left: 20px;
  font-family: var(--letter-font);
  animation: sadkid 8s ease-out 0s 1 forwards;
}

.back {
  &:hover::after {
    position: absolute;
    left: 38%;
    top: 40%;
    content: "back";
  }
}

.homeNavShell {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 40;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  // margin-top: 8rem;
  transition: all 0.75s ease-in-out;
  // background-color: darkkhaki;
}

// .handy {
// }

#nav--menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-right: 2rem;
}

.nav--link {
  position: relative;
  font-family: var(--header-font);
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
  translate: 0px 100vh;
  width: 12vw;
  aspect-ratio: 2/1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(2) {
    transition-delay: 0.3s;
  }
  &:nth-child(3) {
    transition-delay: 0.6s;
  }
  &:nth-child(4) {
    transition-delay: 0.9s;
  }
  &:nth-child(5) {
    transition-delay: 1.2s;
  }
  &:nth-child(6) {
    transition-delay: 1.5s;
  }

  &.introd {
    translate: 0px;
  }

  .nav--cloud {
    position: absolute;
    width: 100%;
    top: -40%;
    z-index: -1;
    object-fit: cover;
    transition: all 0.25s ease-out;
  }
  .shy__balloon {
    position: absolute;
    width: 20%;
    aspect-ratio: 1/1;
    background-image: url("/src/components/images/balloonknot.png");
    background-size: cover;
    top: 40%;
    right: 40%;
    z-index: -2;
    transition: all 1s ease-out;
  }

  &:hover {
    .nav--cloud {
      transform: scale(0.8);
    }
    .shy__balloon {
      transform: translateY(-150%);
    }
  }
}

.castleShell {
  position: absolute;
  bottom: 0;
  right: -15px;
  width: 20%;
  min-width: 200px;
  aspect-ratio: 1/1;
  pointer-events: none;
  .castleWalls {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 150px;
    // background-color: pink;
    background-image: url("/src/components/images/stroutCoCastlewalls.png");
    // background-image: url("./src/components/images/c3.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: bottom 0.5s cubic-bezier(1, -0.01, 0.25, 1.34);

    &.grow {
      bottom: 0;
    }
  }

  .castleCloud {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 10;
    aspect-ratio: 6/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: cloudbob 6s ease-in-out 0s infinite alternate none;

    &:nth-child(1) {
      animation-delay: 1500ms;
    }
    &:nth-child(2) {
      animation-delay: 2600ms;
    }
  }

  .castleCloudLeft {
    left: -40%;
    background-image: url("/src/components/images/cloudTop1.png");
  }
  .castleCloudCenter {
    background-image: url("/src/components/images/cloudTop3.png");
    z-index: 8;
  }

  .castleCloudRight {
    right: -40%;
    background-image: url("/src/components/images/cloudTop2.png");
  }
}
$randomNumber: random(5);

.footerCloud {
  position: absolute;
  top: 20%;
  width: 200px;
  height: 50px;
  z-index: 10;
  background-image: url("/src/components/images/cloudTop2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  animation: cloudbob 6s ease-in-out infinite alternate none;

  &:nth-child(2n) {
    background-image: url("/src/components/images/cloudTop1.png");
  }
  &:nth-child(3n) {
    background-image: url("/src/components/images/cloudTop3.png");
  }
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      left: -200 + (180px * $i);
      animation-delay: (random(2) + 0s);
    }
  }
}

@keyframes cloudbob {
  0% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes sadkid {
  0% {
    transform: translateY(200vh);
  }
  66% {
    transform: translateY(200vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

.newFooter {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 55px;
  .footer--name {
    position: absolute;
    top: -10px;
    left: 2rem;
    color: white;
    font-size: 1.5rem;
    font-family: var(--header-font);
    text-transform: uppercase;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  .back--footer {
    position: absolute;
    left: -100px;
    z-index: 5;
    bottom: 90%;
  }
}
.header {
  margin-top: 5vh;
  /* margin-right: auto; */
  width: 100%;
  max-width: 800px;
}
.most--recent-work {
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;

  .video__shell {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16/9;
    iframe {
      // width: 100%;
      // max-width: 800px;
      aspect-ratio: 16/9;
    }
  }
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // gap: 10%;
}

.video169 {
  width: 100%;
  max-width: 1200px;
  max-width: 97vh;
  aspect-ratio: 16/9;
  max-height: 55vh;
}

.screen__card-container {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: greenyellow;
  overflow: hidden;
  // overflow-y: scroll;

  .screen__card {
    position: absolute;
    top: 10%;
    left: 100%;
    width: 100%;
    height: 90vh;
    // aspect-ratio: 1/1;
    // border: 1px solid rgb(90, 90, 19);
    transition: left 0.25s ease-in-out;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0vh 10vw 10vh 10vw;
    padding-bottom: unset;

    .up {
      transform: translateY(-100vh);
      transition: all 0.5s ease-in-out 0.25s;
    }

    .left {
      transform: translateX(-100vw);
      transition: all 0.5s ease-in-out 0.25s;
    }
    .right {
      transform: translateX(100vw);
      transition: all 0.5s ease-in-out 0.25s;
    }

    .down {
      transform: translatey(100vh);
      transition: all 0.5s ease-in-out 0.25s;
    }

    &.front__and-center {
      left: 0%;

      .hit {
        transition: all 0.25s ease-in-out 0.5s;

        // border: 5px dashed rgb(251, 0, 255);
      }

      .up {
        &.hit {
          transform: translateY(0vh);
          transition: all 0.5s ease-in-out 0.5s;
        }
      }
      .left {
        &.hit {
          transform: translateX(0vw);
          transition: all 0.5s ease-in-out 0.75s;
        }
      }
      .right {
        &.hit {
          transform: translateX(0vw);
          transition: all 0.5s ease-in-out 0.75s;
        }
      }

      .down {
        &.hit {
          transform: translateY(0vh);
          transition: all 0.5s ease-in-out 0.5s;
        }
      }

      .hitsplitterflex {
        &.hit {
          // background-color: pink;
          .up {
            transform: translateY(0vh);
            transition: all 0.5s ease-in-out 0.5s;
          }
          .left {
            transform: translateX(0vw);
          }
          .right {
            transform: translateX(0vw);
          }

          .down {
            transform: translateY(0vh);
            transition: all 0.5s ease-in-out 0.5s;
          }
        }
      }
    }
  }
}

.hitsplitterflex {
  display: flex;
  height: 70vh;
}

// #sc__hello{
//   left: 25%;

// }

.blur {
  opacity: 0.1;
  left: 100%;
  max-height: 70vh;
  overflow: hidden;
}

@media all and (max-width: 1023px) and (orientation: portrait) {
  .back--footer {
    display: none;
  }

  #nav--menu {
    padding: 0.5rem;
    // background-color: rgba(240, 248, 255, 0.325);
  }

  .homeMonitor {
    grid-template-rows: 12rem auto;
    .hm--title {
      font-size: 1.75rem;
    }
    .hm--display {
      width: 90%;
      h3 {
        font-size: 1.75rem;
      }
      ol {
        li {
          margin-left: 2rem;
        }
      }
    }
  }
}

.main__header {
  padding-bottom: 5vh;
}

.posrel {
  position: relative;
}

.header__span {
  font-size: clamp(1.5rem, 2vw, 4rem);
  position: absolute;
  top: 44%;
  right: 5vw;
}

.main__pitch {
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 4rem);
}
#meetBrianHeader {
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 10%;
  transform: rotate(-28deg);
  -webkit-text-stroke: 1px yellow;
}

@media only screen and (max-width: 768px) {
  .homeWrap {
    grid-template-columns: 100vw auto;
    height: 100dvh;
  }
  .homeMonitor {
    grid-template-rows: 3rem auto;

    .hm--title {
      .long--title {
        display: inline;
        width: 70vw;
        margin-left: 5vw;
        margin-right: 25vw;
        font-size: 1.25rem;
      }
    }
    .hm--display {
      overflow-y: scroll;
      width: 100vw;
      margin: 0;
      padding-bottom: 8px;
      // padding-top: 3vh;
      height: 100dvh;

      // background-color: darkcyan;
      // ol {
      // }
    }
  }

  #m--balloon {
    display: none;
  }

  #nav--menu {
    padding-left: 10px;
    flex-direction: column;
    gap: 0.5rem;
  }

  .homeNavShell {
    position: absolute;
    right: 0px;
    z-index: 80;
    // background-color: var(--ghost-color);
    // border: 3px solid white;
    &.toggle {
      right: -100%;
    }
  }
  .nav--link {
    translate: 400px;
    .nav--cloud {
      width: 70%;
      top: unset;
      pointer-events: none;
    }
    .shy__balloon {
      display: none;
    }
  }
  .newFooter .footer--name {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 40;
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobileBreak {
    display: block;
    > svg {
      fill: black;
      margin: 10px 20px 0px 20px;
      scale: 200%;
      > path,
      rect,
      line {
        pointer-events: none;
      }
    }
  }
}
.header__span {
  top: 40%;
}

@media only screen and (max-width: 750px) {
  .header__span {
    top: 80%;
  }

  .cta {
    position: fixed;
    bottom: 2%;
  }
  #meetBrianVideo {
    align-items: flex-start;
  }
  #meetBrianHeader {
    font-size: 1.2rem;
    left: 0;
    top: 0;
  }
  .screen__card-container {
    height: calc(100vh - 55px);
    // background-color: dimgray;

    .screen__card {
      top: 30px;
      height: inherit;
      max-height: 100%;
      padding: 8px;
      // background-color: coral;
    }
  }
  .homeWrap {
    .fallingSecond {
      // top: 30vh;
      scale: 0.4;
      right: -90px;
    }
  }

  .mobileHide {
    display: none;
  }
  .mobileBreak {
    position: absolute;
    z-index: 50;
    left: 10%;
  }
  .hm--display {
    ol {
      margin-top: 10px;
      margin-left: 16px;

      h2 {
        font-family: var(--header-font);
      }
      li {
        list-style: none;
        margin-left: 1rem;
        margin-right: 1rem;
        font-family: var(--letter-font);
        font-size: 1.5rem;
        line-height: 1.95rem;
        .skill-div {
          width: 16rem;
        }
      }
    }
  }

  .most--recent-work {
    width: 98%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 24vh;
    max-width: 800px;
  }
}

#homeMonitor {
  overflow-x: hidden;
  overflow-y: scroll;
}
