@use "root";

.homeWrap {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 80% 20%;
  //   background-color: brown;
  > div {
    border: 1px dashed black;
  }

  display: none;
}

.homeMonitor {
  //   background-color: cadetblue;
}
.homeNavShell {
  //   background-color: darkgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
#nav--menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.nav--link {
  font-family: var(--header-font);
  font-size: 1.8rem;
}
