.homeNavShell {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 40;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  // margin-top: 8rem;
  transition: all 0.75s ease-in-out;
  // background-color: darkkhaki;
}

#nav--menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding-right: 2rem;
  // background-image: ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  color: black;
  transform: translateY(-400px);
  transition: all 0.5s ease-out;
  // background-position: cove;
  &.introd {
    transform: none;
  }
}

.nav--link {
  position: relative;
  font-family: var(--header-font);
  font-size: 1.8rem;
  -webkit-text-stroke: 0.25px white;
  text-stroke: 0.25px white;
  transition: all 0.4s ease-in-out 1s ease-out;
  //   translate: 0px 100vh;
  width: 12vw;
  aspect-ratio: 2/1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(184, 135, 11, 0.487);
  //   background-color: white;
  transform: translateY(-400px);

  &.introd {
    transform: translateY(0px);
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        transition: all 0.5s ease-out (0s + (0.0625 * $i));
      }
    }
  }

  .nav--cloud {
    position: absolute;
    width: 100%;
    bottom: -10%;
    z-index: -1;
    object-fit: contain;
    transition: all 0.25s ease-out;
  }
  .nav--clouddrops {
    position: absolute;
    width: 60%;
    top: 40%;
    left: 20%;
    z-index: -1;
    object-fit: contain;
    transition: all 0.25s ease-out;
    opacity: 0;
  }
  .shy__balloon {
    position: absolute;
    width: 20%;
    aspect-ratio: 1/1;
    background-image: url("/src/components/images/balloonknot.webp");
    background-size: cover;
    bottom: 20%;
    right: 40%;
    z-index: -2;
    transition: all 1s ease-out;
    display: none;
  }

  &:hover {
    .nav--clouddrops {
      opacity: 1;
    }
  }
}

@keyframes navCloudIntro {
  0% {
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 1300px) {
  #nav--link {
    gap: 0;
  }
  .nav--link {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  #nav--menu {
    padding-left: 10px;
    flex-direction: column;
    gap: 0.5rem;
    height: 100dvh;
    justify-content: space-evenly;
  }

  .nav--link {
    // translate: 400px;
    .nav--cloud {
      width: 50%;
      top: unset;
      pointer-events: none;
    }
    .shy__balloon {
      display: none;
    }
  }

  .mobile__back {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: all;
    > div {
      position: absolute;
      width: 110%;
      height: 110%;
      background-size: cover;
      background-position: center;
      opacity: 0%;
      transform: translateY(200px);
    }
    .mb1 {
      background-image: url("../components/images/nav/mb1.webp");
      z-index: 10;
      animation: cloudin 1s ease-out 1 forwards,
        cloudnavl 4s ease-in-out 1s infinite alternate;
    }
    .mb2 {
      background-image: url("../components/images/nav/mb2.webp");
      z-index: 9;
      animation: cloudin 1s ease-out 1 forwards,
        cloudnavr 4s ease-in-out 2s infinite alternate;

      animation-delay: 0.15s;
    }
    .mb3 {
      background-image: url("../components/images/nav/mb3.webp");
      z-index: 8;
      animation: cloudin 1s ease-out 1 forwards,
        cloudnavl 4s ease-in-out 1s infinite alternate;
      animation-delay: 0.25s;
    }
    .mb4 {
      background-image: url("../components/images/nav/mb4.webp");
      z-index: 7;
      animation: cloudin 1s ease-out 1 forwards,
        cloudnavr 4s ease-in-out 1s infinite alternate;
      animation-delay: 0.45s;
    }
    .mb5 {
      top: 10%;
      background-image: url("../components/images/nav/mb5.webp");
      z-index: 6;
      animation: cloudin 1s ease-out 1 forwards,
        crotate 8s linear infinite forwards;
      animation-delay: 0.55s;
    }
    .mb6 {
      background-image: url("../components/images/nav/mb6.webp");
      z-index: 5;
      animation: cloudin 1s ease-out 1 forwards,
        cloudnavl 4s ease-in-out 1s infinite alternate;
      animation-delay: 0.65s;
    }
    .mb7 {
      background-image: url("../components/images/nav/mb7.webp");
      z-index: 4;
      animation: cloudin 1s ease-out 1 forwards,
        cloudnavr 4s ease-in-out 1s infinite alternate;
      animation-delay: 0.75s;
    }
  }
}

@keyframes cloudnavl {
  0% {
    // opacity: 0%;
    transform: translate(-10px, 0px);
  }

  100% {
    // opacity: 100%;
    transform: translate(0px, 15px);
  }
}

@keyframes cloudnavr {
  0% {
    // opacity: 0%;
    transform: translate(10px, 0px);
  }

  100% {
    // opacity: 100%;
    transform: translate(0px, 15px);
  }
}

@keyframes crotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
